<ion-header>
  <ion-toolbar>
    <ion-title>CADIZLOOP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h1>CADIZLOOP</h1>
        <p>Consulta de horarios y rutas de transporte público en la bahía de Cádiz</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/buscar-ruta" size="large">
          <ion-icon slot="start" name="search"></ion-icon>
          Buscar ruta
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/mapa" size="large">
          <ion-icon slot="start" name="map"></ion-icon>
          Mapa
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
