<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CadizLoop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CadizLoop</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>¿Qué es CadizLoop?</ion-card-subtitle>
      <ion-card-title>CadizLoop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        CadizLoop es una aplicación que permite a los usuarios crear rutas de senderismo y compartirlas con otros usuarios.
      </p>
    </ion-card-content>
  </ion-card>
